.sqlseal-table-container {
    overflow-y: scroll;
}

.sqlseal-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.sqlseal-grid-wrapper {
    height: auto;
}

.edit-block-button {
    z-index: 1000;
}