.sqlseal-table-container {
    overflow-y: scroll;
}

.sqlseal-table-container table {
    width: 100%;
    border-collapse: collapse;
}

.sqlseal-grid-wrapper {
    height: auto;
    position: relative;
}

.sqlseal-error {
    padding: 1em;
    background: #b80f0f;
    color: #FFF;
}

.sqlseal-notice {
    padding: 1em;
    background: #1f3f98;
    color: #FFF;
}

.sqlseal-grid-error-message {
    box-sizing: border-box;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #b80f0f;
    font-size: 0.8em;
    color: #FFF;
    padding: 0.5em 2em;

}

.sqlseal-grid-error-message-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
    z-index: 5;
}

.sqlseal-grid-error-message-overlay.hidden {
    display: none;
}

.edit-block-button {
    z-index: 1000;
}

.sqlseal-markdown-table {
    font-family: monospace;
    white-space: pre-wrap;
}

.sqlseal-markdown-table.no-wrap {
    display: inline-block;
    overflow-x: scroll;
    width: fit-content;
}


/* EDITOR */
.sql-seal-csv-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: var(--size-4-4);
}

.sql-seal-csv-viewer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sqlseal-grid-wrapper {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ag-theme-quartz {
    flex: 1;
}

.sql-seal-csv-viewer-buttons {
    display: flex;
    gap: var(--size-4-4);
}

.sql-seal-modal-code {
    width: 100%;
    font-family: monospace;
    padding: 8px;
}


/* INLINE QUERIES */
.sqlseal-inline-result {
    display: inline-block;
    padding: 0 4px;
    margin: 0 2px;
    background-color: var(--background-secondary);
    border-radius: 4px;
    font-size: 0.9em;
    cursor: pointer;
}

.sqlseal-inline-result .error {
    color: var(--text-error);
    font-style: italic;
}

.sqlseal-list-element-single .sqlseal-column-name {
    display: none;
}

.sqlseal-list-element-single .sqlseal-column-name::after {
    content: ': ';
}

.sqlseal-list.show-column-names .sqlseal-list-element-single .sqlseal-column-name {
    display: inline;
}

.sqlseal-parse-error {
    background: #b80f0f;
    color: #FFF;
    padding: 0.2em;
    border-radius: 2px;
}