/* COLOURING */

.cm-sqlseal-block-query {
    --color: #297f30;
}

.cm-sqlseal-block-view {
    --color: #c834dd;
}

.cm-sqlseal-block-flag {
    --color: #d08306;
    font-weight: bold;
    color: var(--color);
}

.cm-sqlseal-block-table {
    --color: #4985af;
}

.cm-sqlseal-identifier {
    color: #2d7b33;
}

.cm-sqlseal-function {
    color: #2c0e9b;
}

.cm-sqlseal-parameter {
    color: #2c0e9b;
}

.cm-sqlseal-comment {
    color: #7a7a7a;
    font-style: italic;
}

.cm-sqlseal-keyword {
    color: var(--color);
    font-weight: bold;
}

.cm-sqlseal-literal {
    color: rgb(0, 51, 255);
}

.cm-sqlseal-error {
    color: rgb(235, 47, 47);
    font-style: italic;
}

.cm-sqlseal-template-keyword {
    color: #e3ab53;
}

.theme-dark .cm-sqlseal-template-keyword {
    color: #dd8e10;
}

.theme-dark .cm-sqlseal-block-error {
    color: red;
}

.theme-dark .cm-sqlseal-block-query {
    --color: #5eff6a;
}

.theme-dark .cm-sqlseal-comment {
    color: #898787;
}

.theme-dark .cm-sqlseal-parameter {
    color: #95ed22;
}

.theme-dark .cm-sqlseal-literal {
    color: yellow;
}

.theme-dark .cm-sqlseal-block-view {
    --color: #e945ff;
}

.theme-dark .cm-sqlseal-block-flag {
    --color: #e3ab53;
}

.theme-dark .cm-sqlseal-block-table {
    --color: #56b5fa;
}

.theme-dark .cm-sqlseal-function {
    color: #c4b8ef;
}

.theme-dark .cm-sqlseal-identifier {
    color: #6ff77a;
}

:is(.cm-sqlseal-block-query, .cm-sqlseal-block-view, .cm-sqlseal-block-flag, .cm-sqlseal-block-table, .cm-sqlseal-explorer)::before {
    background-color: var(--color);
    width: 5px;
    top: -3px;
    bottom: -3px;
    left: 0;
    content: '';
    display: block;
    position: absolute;
}

.cm-indent + :is(.cm-sqlseal-block-query, .cm-sqlseal-block-view, .cm-sqlseal-block-flag, .cm-sqlseal-block-table)::before {
    display: none;
}

.cm-sqlseal-explorer .cm-line {
    position: relative;
}

.cm-sqlseal-overlay {
    border: 1px solid #AAA;
    padding: 1em;
    border-radius: 5px;
}

.cm-sqlseal-overlay .cm-line {
    position: relative;
}

.cm-sqlseal-overlay .cm-editor {
    outline: none;
}

.sqlseal-modal-copycode .setting-item {
    border: 0;
}

.cm-sqlseal-explorer :is(.cm-sqlseal-block-query, .cm-sqlseal-block-view, .cm-sqlseal-block-flag, .cm-sqlseal-block-table)::before {
    left: -3px;
}

.cm-sqlseal-explorer .cm-focused {
    outline: none;
}

.cm-sqlseal-explorer .cm-editor {
    border-left-width: 0;
    background: var(--color-base-20);
    padding: 8px;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.cm-sqlseal-explorer .cm-scroller {
    max-height: 100%;
    overflow: auto;
}

.cm-sqlseal-explorer .cm-content {
    min-height: 100%;
}